#top-menu-bar {
    background: crimson;
    color: #fff;
    padding: 10px;
}



    #top-menu-bar h1 {
        font-size: 24px;
        font-weight: normal;
        display: inline-block;
    }



    #top-menu-bar ul {
        float: right;
        list-style-type: none;
        padding: 0;
        margin: 6px 0;
    }



    #top-menu-bar li {
        float: right;
        margin-left: 20px;
    }



    #top-menu-bar a {
        color: #fff
    }


.text {
    color: white;
}

button {
    background-color: #00a4f3;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-radius: 25px
}

.selected {
    background-color: #00a4f3;
    color: #000000;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
}

.notselected {
    background-color: #003651;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
}

#searchContainerDiv {
    margin: 0 auto;
    border-color: blue;
    border-style: solid;
}

#searchParametersSideDiv {
    float: left;
    width: 20%;
    position: relative;
    border-color: blue;
    border-right-style: solid;
}

#searchDataSideDiv {
    float: left;
    position: relative;
    border-color: blue;
    border-left-style: solid;
}

ul {
    list-style: none;
    background: transparent !important;
}

    ul li {
        list-style: none;
        background: transparent !important;
    }

article {
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchResultdiv {
    background-color: #f7f7f5;
    height: 250px;
    width: 750px;
}

#searchResultImagediv {
    background-color: inherit;
    height: 200px;
    width: 267px;
    padding: 5px;
    float: left;
}

#searchResultDatadiv {
    background-color: inherit;
    height: 175px;
    width: 450px;
    padding: 10px;
    float: left;
}

.viewCarImageDiv {
    width: 570px;
    height: 420px;
    float: left;
}

.view-imageOutput {
    padding: 10px;
}

.viewCarDataDiv {
    border-top: 1px solid black;
    float: left;
}

#manageTestDrivesTable, #manageTestDrivesTable th, #manageTestDrivesTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

#manageServicesTable, #manageServicesTable th, #manageServicesTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.carView_list {
    border-left: 6px solid #e8e8e3;
    padding: 0 8px;
    display: table-cell;
    width: 100px
}

#viewCar-title {
    margin: 0 auto;
}

#viewCarContainerDiv {
    margin: 0 auto;
    background-color: #f7f7f5;
    width: 800px;
    height: 530px;
}

#addCarContainerP {
    margin: 0px;
}
