<div>
    <h1>
        Add Car
    </h1>

    <br />

    <form id="addCarContainerDiv" style="float:left; width: 300px; padding-bottom: 30px;">
        <p>Reg:</p>
        <input type="text" maxlength="7" id="addCar-reg" name="reg"/><br />
        <p>Make:</p>
        <input type="text" maxlength="20" id="addCar-make" name="make"/><br />
        <p>Model:</p>
        <input type="text" maxlength="20" id="addCar-model" name="model"/><br />
        <p>Year:</p>
        <input type="text" maxlength="4" id="addCar-year" name="year"/><br />
        <p>Colour:</p>
        <input type="text" maxlength="10" id="addCar-colour" name="colour"/><br />
        <p>Body Type:</p>
        <select type="text" id="addCar-BodyType">
            <option value="Hatchback">Hatchback</option>
            <option value="Coupe">Coupe</option>
            <option value="Convertible">Convertible</option>
            <option value="Estate">Estate</option>
            <option value="SUV">SUV</option>
            <option value="Saloon">Saloon</option>
            <option value="Pickup">Pickup</option>
        </select>
        <p>Doors:</p>
        <select type="text" id="addCar-Doors">
            <option value="3">3</option>
            <option value="5">5</option>
        </select>
        <p>GearBox Type:</p>
        <select type="text" id="addCar-GearBox">
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
        </select>
        <p>Miles:</p>
        <input type="text" maxlength="6" id="addCar-miles" name="miles"/><br />
        <p>Engine Size (Not Required):</p>
        <input type="text" maxlength="3" id="addCar-engineSize" name="engineSize"/><br />
        <p>Horse Power (Not Required):</p>
        <input type="text" maxlength="4" id="addCar-horsePower" name="horsePower"/><br />
        <p>0 to 60 Time (Not Required):</p>
        <input type="text" maxlength="4" id="addCar-sixtyTime" name="sixtyTime"/><br />
        <p>Fuel Type:</p>
        <select type="text" id="addCar-Fuel">
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
        </select>
        <p>Drive Train:</p>
        <select type="text" id="addCar-driveTrain">
            <option value="FWD">FWD</option>
            <option value="RWD">RWD</option>
            <option value="AWD">AWD</option>
        </select>
        <p>Co2 (g/km) (Not Required):</p>
        <input type="text" maxlength="3" id="addCar-co2" name="co2"/><br />
        <p>Price:</p>
        <input type="text" maxlength="7" id="addCar-price" name="price"/><br />
        <p>Dealership:</p>
        <select type="text" id="addCar-Dealership">
            <option value="1">Middlesbrough</option>
            <option value="2">Darlington</option>
            <option value="3">Stockton</option>
        </select><br />
        <p>Is This A Trade Car?:</p>
        <select type="text" id="addCar-Active">
            <option value="true">No</option>
            <option value="false">Yes</option>
        </select><br /><br />


        <button id="addCar-Button">Add Car</button>
    </form>

    <div>
        <p>Image Upload:</p>
        <input type="file" id="addCar-image"><br>

        <img id="output">

        <canvas id="canvas" style="display:none"></canvas>

    </div>

</div>