<div>
    <h1>
        Edit Car
    </h1>

    <br />

    <form id="editCarContainerDiv" style="float:left; width: 300px;">
        <p>Car:</p>
        <p id="editCar-Car"></p>
        
        <p>Price:</p>
        <input type="text" maxlength="7" id="editCar-price" name="price"/><br />
        <p>Dealership:</p>
        <select type="text" id="editCar-Dealership">
            <option value="1">Middlesbrough</option>
            <option value="2">Darlington</option>
            <option value="3">Stockton</option>
        </select><br /><br />


        <button id="editCar-Button">Save Car</button>
    </form>
</div>