<div>
    <h1 id="viewCar-title">
        
    </h1>

    <br />

    <div id="viewCarContainerDiv">
        <ul>
            <li class="carView_list" id="carView_list_year"></li>
            <li class="carView_list" id="carView_list_bodyType"></li>
            <li class="carView_list" id="carView_list_miles"></li>
            <li class="carView_list" id="carView_list_engineSize"></li>
            <li class="carView_list" id="carView_list_gearbox"></li>
            <li class="carView_list" id="carView_list_fuel"></li>
        </ul>
        <ul>
            <li class="carView_list" id="carView_list_colour"></li>
            <li class="carView_list" id="carView_list_doors"></li>
            <li class="carView_list" id="carView_list_sixtyTime"></li>
            <li class="carView_list" id="carView_list_horsePower"></li>
            <li class="carView_list" id="carView_list_driveTrain"></li>
            <li class="carView_list" id="carView_list_co2"></li>
        </ul>
    </div>
</div>