<div>
    <h1>
        New Customer Account
    </h1>
    <br />
    <form id="createCustomerAccountDiv">
        <p>UserName:</p>
        <input type="text" maxlength="20" id="newCustomer-userName" name="userName" /><br />
        <p>Password:</p>
        <input type="password" maxlength="20" id="newCustomer-password" name="password" /><br />
        <p>First Name:</p>
        <input type="text" maxlength="50" id="newCustomer-firstName" name="firstName" /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="newCustomer-lastName" name="lastName" /><br />
        <p>Email:</p>
        <input type="text" maxlength="50" id="newCustomer-email" name="email" /><br />
        <p>Phone Number:</p>
        <input type="text" maxlength="15" id="newCustomer-number" name="number" /><br />
        <p>Address:</p>
        <input type="text" maxlength="50" id="newCustomer-address1" name="address1" /><br />
        <input type="text" maxlength="50" id="newCustomer-address2" name="address2" /><br />
        <p>Town / City:</p>
        <input type="text" maxlength="50" id="newCustomer-city" name="city" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="newCustomer-postcode" name="postcode" /><br />
        <br />
        <br />

        <button id="newCustomerCreateButton" type="button">Create Account</button>
    </form>
    
</div>