<div>
    <h1>
        Expenses
    </h1>

    <br />
    <a id="expense-ViewBalance" href="#!/balance">View Balance</a>

    <br />
    <a href="#!/expensesFile">File an Expense</a>
    <br />
    <div>
        <table id="expensesTable">
            <tr><th>#</th><th>Expense Type</th><th>Amount</th><th>Staff Member</th><th>Date</th><th>Notes</th></tr>
        </table>
    </div>
</div>