<div>
    <h1>
        Invoices
    </h1>

    <br />
    <br />
    <div>
        <a id="invoice-ViewBalance" href="#!/balance">View Balance</a>
        <table id="invoicesTable">
            <tr><th>#</th><th>Customer</th><th>Amount</th><th>Invoice Type</th><th>Date</th></tr>
        </table>
    </div>
</div>