<div id="logindiv">

    <h2>Login</h2>
    <form id="login-form">
        UserName: <input type="text" id="usernameinput" /><br /><br/>
        Password: <input type="password" id="passwordinput" /><br /><br/>
        <button id="loginButton" type="submit">Login</button>
    </form>
    <br />
    <p id="logres"></p>
    <br/>

</div>