<div>
    <h1>
        Sales
    </h1>

    <br />
    <a href="#!/sell">Sell A Car</a>
    <br />
    <br />
    <div>
        <table id="salesTable">
            <tr><th>Car</th><th>Customer</th><th>Staff Member</th><th>Dealership</th><th>Date</th></tr>
        </table>
    </div>
</div>