<div>
    <h1>
        Sell Car
    </h1>

    <br />

    <form id="sellCarContainerDiv">

        <a href="#!/createCustomerAccount#type=sell">Add Customer</a>
        <h2>Find Customer</h2>
        <p>First Name:</p>
        <input type="text" maxlength="50" id="sellCar-firstName" /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="sellCar-LastName" /><br />
        <p>City:</p>
        <input type="text" maxlength="50" id="sellCar-City" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="sellCar-PostCode" /><br />
        <br />
        <button id="sellCar-FindCustomer">Find Customer</button>
        <br /><br />
        <select id="sellCar-CustomerSelect" name="customerSelect"></select>
        <br /><br /><br />

        <h2>Find Car</h2>
        <select id="sellCar-CarSelect"></select>

        <p>Car:</p>
        <input type="text" maxlength="50" id="sellCar-Car" disabled readonly /><br />
        <p>Price:</p>
        <input type="text" maxlength="7" id="sellCar-Price" disabled readonly /><br />
        <p>Agreed Price:</p>
        <input type="text" maxlength="7" id="sellCar-AgreedPrice" name="agreedPrice"/><br /><br />

        <button id="sellCar-Button">Approve</button>
    </form>

    <div>
        <img id="output">

        <canvas id="canvas" style="display:none"></canvas>

    </div>


</div>