<div>
    <h1>
        Book Service
    </h1>
    <br />

    <a href="#!/createCustomerAccount#type=service">Add Customer</a><br />
    <a href="#!/carAdd#type=service">Add Car</a><br />
    <h2>Find Customer</h2>
    <form id="bookServiceForm">
        <p>First Name:</p>
        <input type="text" maxlength="50" id="bookService-firstName" /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="bookService-LastName" /><br />
        <p>City:</p>
        <input type="text" maxlength="50" id="bookService-City" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="bookService-PostCode" /><br />
        <br />
        <button id="bookService-FindCustomer">Find Customer</button>
        <br /><br />
        <select id="bookService-CustomerSelect" name="customerSelect"></select>
        <br /><br /><br />

        <p>Car:</p>
        <select type="text" id="bookService-Car"></select><br />
        <p>Dealership:</p>
        <select type="text" id="bookService-Dealership">
            <option value="Middlesbrough">Middlesbrough</option>
            <option value="Darlington">Darlington</option>
            <option value="Stockton">Stockton</option>
        </select><br />

        <p>Date of Test Drive:</p>
        <select type="text" id="bookService-Day">
        </select>
        /
        <select type="text" id="bookService-Month">
        </select>
        /
        <select type="text" id="bookService-Year" disabled readonly>
            <option value="2018">2018</option>
        </select><br />
        <p>Time of Test Drive:</p>

        <select type="text" id="bookService-Hour">
            <option value="09">09</option>
            <option value="11">11</option>
            <option value="13">13</option>
            <option value="15">15</option>
        </select>
        :
        <select type="text" id="bookService-Minute" disabled readonly>
            <option value="00">00</option>
        </select>
        <br />
        <br />
        <br />
        <button id="bookService-button" type="button">Save</button>
    </form>
    
</div>