<div>
    <h1>
        Add Staff Member
    </h1>

    <br />

    <form id="addStaffContainerDiv">

        <p>UserName*:</p>
        <input type="text" maxlength="50" id="addStaff-userName" name="userName"/><br />
        <p>Password*:</p>
        <input type="text" maxlength="50" id="addStaff-password" name="password"/><br />
        <p>First Name*:</p>
        <input type="text" maxlength="50" id="addStaff-firstName" name="firstName"/><br />
        <p>Last Name*:</p>
        <input type="text" maxlength="50" id="addStaff-LastName" name="LastName"/><br />
        <p>Date of Birth*:</p>
        <input type="date" id="addStaff-dateofBirth" value="2000-01-01" name="dateofBirth"><br />
        <p>Email*:</p>
        <input type="email" maxlength="50" id="addStaff-email" name="email"/><br />
        <p>Door Number*:</p>
        <input type="number" maxlength="4" id="addStaff-houseNumber" name="houseNumber"/><br />
        <p>Address Line 1*:</p>
        <input type="text" maxlength="50" id="addStaff-address1" name="address1"/><br />
        <p>Address Line 2:</p>
        <input type="text" maxlength="50" id="addStaff-address2" name="address2"/><br />
        <p>Town/City*:</p>
        <input type="text" maxlength="50" id="addStaff-city" name="city"/><br />
        <p>Postcode*:</p>
        <input type="text" maxlength="10" id="addStaff-postCode" name="postCode"/><br />
        <p>Position*:</p>
        <select id="addStaff-position"></select><br />
        <p>Salary*:</p>
        <input type="number" maxlength="6" id="addStaff-salary" name="salary"/><br />
        <p>Dealership*:</p>
        <select type="text" id="addStaff-Dealership">
            <option value="Middlesbrough">Middlesbrough</option>
            <option value="Darlington">Darlington</option>
            <option value="Stockton">Stockton</option>
        </select><br /><br />

        <button id="addStaff-Button">Add Staff Member</button>
    </form>



</div>