<div>
    <h1>
        Staff Members
    </h1>

    <br />
    <a href="#!/staffMembersAdd">Add a Staff Member</a>
    <br />
    <br />
    <div>
        <table id="staffMembersTable">
            <tr><th>Name</th><th>Date of Birth</th><th>Email</th><th>Address</th><th>Postcode</th><th>Position</th><th>Dealership</th><th>Salary</th></tr>
        </table>
    </div>
</div>