<div>
    <h1>
        Book Test Drive
    </h1>
    <br />
    <a href="#!/createCustomerAccount#type=testDrive">Add Customer</a>
    <h2>Find Customer</h2>
    <form id="bookTestDriveForm">
        <p>First Name:</p>
        <input type="text" maxlength="50" id="bookTestDrive-firstName" /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="bookTestDrive-LastName" /><br />
        <p>City:</p>
        <input type="text" maxlength="50" id="bookTestDrive-City" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="bookTestDrive-PostCode" /><br />
        <br />
        <button id="bookTestDrive-FindCustomer">Find Customer</button>
        <br /><br />
        <select id="bookTestDrive-CustomerSelect" name="customerSelect"></select>
        <br /><br /><br />
        <p>Car:</p>
        <select type="text" id="bookTestDrive-Car"></select><br />
        <p>Date of Test Drive:</p>
        <select type="text" id="bookTestDrive-Day">
        </select>
        /
        <select type="text" id="bookTestDrive-Month">
        </select>
        /
        <select type="text" id="bookTestDrive-Year" disabled readonly>
            <option value="2018">2018</option>
        </select><br />
        <p>Time of Test Drive:</p>

        <select type="text" id="bookTestDrive-Hour">
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        :
        <select type="text" id="bookTestDrive-Minute">
            <option value="00">00</option>
            <option value="30">30</option>
        </select>
        <br />
        <br />
        <br />
        <button id="bookTestDrive-button" type="button">Save</button>
    </form>
    
</div>