<div>
    <h1>
        Trades
    </h1>

    <br />
    <a href="#!/trade">Trade A Car</a>
    <br />
    <br />
    <div>
        <table id="tradesTable">
            <tr><th>Sold Car</th><th>Trade Car</th><th>Customer</th><th>Staff Member</th><th>Dealership</th><th>Date</th></tr>
        </table>
    </div>
</div>