<div>
    <h1>
        Trade Car
    </h1>

    <br />

    <form id="tradeCarContainerDiv">

        <a href="#!/createCustomerAccount#type=trade">Add Customer</a>
        <h2>Find Customer</h2>
        <p>First Name:</p>
        <input type="text" maxlength="50" id="tradeCar-firstName" /><br />
        <p>Last Name:</p>
        <input type="text" maxlength="50" id="tradeCar-LastName" /><br />
        <p>City:</p>
        <input type="text" maxlength="50" id="tradeCar-City" /><br />
        <p>Postcode:</p>
        <input type="text" maxlength="10" id="tradeCar-PostCode" /><br />
        <br />
        <button id="tradeCar-FindCustomer">Find Customer</button>
        <br /><br />
        <select id="tradeCar-CustomerSelect" name="customerSelect"></select>
        <br /><br /><br />

        <h2>Find Trade Car</h2>
        <a href="#!/carAdd">Add Car</a><br />
        <input type="text" maxlength="7" id="tradeCar-regInput" /><button id="tradeCar-findTradeCar">Find</button>
        <input type="hidden" maxlength="50" id="tradeCar-TradeCarID" disabled readonly />
        <p>Car:</p>
        <input type="text" maxlength="50" id="tradeCar-TradeCar" disabled readonly /><br />
        <p>Price:</p>
        <input type="text" maxlength="7" id="tradeCar-TradePrice" disabled readonly /><br />
        <p>Agreed Price:</p>
        <input type="text" maxlength="7" id="tradeCar-TradeAgreedPrice" name="agreedPrice1"/><br /><br />

        <h2>Find Car</h2>
        <select id="tradeCar-SoldCarSelect"></select>

        <p>Car:</p>
        <input type="text" maxlength="50" id="tradeCar-SoldCar" disabled readonly /><br />
        <p>Price:</p>
        <input type="text" maxlength="7" id="tradeCar-SoldPrice" disabled readonly /><br />
        <p>Agreed Price:</p>
        <input type="text" maxlength="7" id="tradeCar-SoldAgreedPrice" name="agreedPrice2"/><br /><br />

        <button id="tradeCar-Button">Approve</button>
    </form>



</div>