<div>
    <h1>
       Trade View 
    </h1>

    <br />

    <div id="viewTradeContainerDiv">
        <p>Car: </p>
        <p id="viewSales-Car"><a</a></p><br />
        <p>Amount: </p>
        <p id="viewSales-amount"></p><br />
        <p>Customer: </p>
        <p id="viewSales-customer"></p><br />
        <p>Staff Member: </p>
        <p id="viewSales-staff"></p><br />
        <p>Location: </p>
        <p id="viewSales-location"></p><br />
        <p>Date: </p>
        <p id="viewSales-date"></p><br />
        <p>Invoice: </p>
        <p id="viewSales-Invoice"></p><br />
    </div>
</div>