﻿<p id="salesWebApp_headerItems">
    <a id="carSelect" class="selected" href="#!/cars">Car</a>
    <a id="sellSelect" class="notselected" href="#!/sales">Sales</a>
    <a id="tradeSelect" class="notselected" href="#!/trades">Trades</a>
    <a id="testDriveSelect" class="notselected" href="#!/manageTestDrive">Test Drive</a>
    <a id="serviceSelect" class="notselected" href="#!/manageServices">Service</a>
    <a id="invoicesSelect" class="notselected" href="#!/invoices">Invoices</a>
    <a id="expensesSelect" class="notselected" href="#!/expenses">Expenses</a>
    <a id="staffMembersSelect" class="notselected" href="#!/staffMembers">Staff Members</a>
    <a id="accountLogSelect" class="notselected" href="#!/myAccount">Account</a>
</p>
<script>
    $('#carSelect').click(function () {
        if ($('#carSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('notselected').addClass('selected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#sellSelect').click(function () {
        if ($('#sellSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('notselected').addClass('selected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#tradeSelect').click(function () {
        if ($('#tradeSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('notselected').addClass('selected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#testDriveSelect').click(function () {
        if ($('#testDriveSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('notselected').addClass('selected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#serviceSelect').click(function () {
        if ($('#serviceSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('notselected').addClass('selected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#invoicesSelect').click(function () {
        if ($('#invoicesSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('notselected').addClass('selected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#expensesSelect').click(function () {
        if ($('#expensesSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('notselected').addClass('selected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#staffMembersSelect').click(function () {
        if ($('#staffMembersSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('notselected').addClass('selected');
            $('#accountLogSelect').removeClass('selected').addClass('notselected');
        }
    });

    $('#accountLogSelect').click(function () {
        if ($('#carSelect').hasClass('selected')) { } else {
            $('#carSelect').removeClass('selected').addClass('notselected');
            $('#sellSelect').removeClass('selected').addClass('notselected');
            $('#tradeSelect').removeClass('selected').addClass('notselected');
            $('#testDriveSelect').removeClass('selected').addClass('notselected');
            $('#serviceSelect').removeClass('selected').addClass('notselected');
            $('#invoicesSelect').removeClass('selected').addClass('notselected');
            $('#expensesSelect').removeClass('selected').addClass('notselected');
            $('#staffMembersSelect').removeClass('selected').addClass('notselected');
            $('#accountLogSelect').removeClass('notselected').addClass('selected');
        }
    });
</script>